
body, html
{
	background-color: #EDEDED !important;
    font-family: 'Roboto', sans-serif;
    
}

.intro
{
    text-align: center;
    padding: 5%;
    font-family: 'Roboto', sans-serif;
}

.intro h1
{
	font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

.intro h2{

    font-weight: 100;
    font-size: 42px;
}
.intro h5
{
	padding: 15px;
	display: inline-block;
	font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.nav_menu_item{
    
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    padding-left: 10px;
    padding-right: 10px;
}

.whatis_heading{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 2rem;
    margin: 1rem;
    font-weight: 200;
    padding: 10px;
}

hr
{
    width: 10%;
    color: dodgerblue; !important
    line-height: normal;
}

.thintext{
    font-weight: 300;
    text-align: center;
    word-wrap: break-word;
    padding: 10px;
    height: 10%;
}


.list_items {
    list-style: none;
    text-align: center;
    font-weight: 400;
    padding: 5px;
    font-size: 18px;
    text-emphasis-style:filled;
    
}
.card_heading{  
    font-family: 'Roboto', sans-serif;  
    font-weight: 200;
    font-size: 24px;
    text-align: center;
}

.whatis_list_item{
    text-align: center;
    padding: 10px;
}

#profile_img
{
   width: 15%;
}
 
.what_I_do_item{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 2em;
}

.skills {
    margin-top: 4em;
}

.what_I_do_heading {
    font-weight: 200;
}

.what_I_do_para {
    font-weight: 100;
}

.what_I_do{
    border: 1px;
    border-color: grey;
    
}


